<% form_for(@user) do |f| %>
  <%= f.error_messages %>

  <table>
  	<tr>
  		<td>Email Adresse:</td>
  		<td><%= f.text_field :email %></td>
  	</tr>
  	<tr>
  		<td>Administrator:</td>
  		<td><%= f.check_box :admin %></td>
  	</tr>
  	<tr>
  		<td>Signatur:</td>
  		<td><%= f.text_area :sig, :rows => 5 %></td>
  	</tr>
  	<tr>
  		<td>Notiz</td>
  		<td><%= f.text_area :note, :rows => 5 %></td>
  	</tr>
  	<tr>
  		<td>Password-Reset:</td>
  		<td><%= check_box_tag :reset_pass %>Neues Password zusenden</td>
  	</tr>
  </table>

  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @user %> |
<%= link_to 'Back', users_path %>