<h1>Editing user</h1>

<% form_for(@user) do |f| %>
  <%= f.error_messages %>

	<table>
  	<% @user.attributes.each do |a| %>
  		<% if not ["created_at","updated_at","id"].include? a[0]%>
			<tr>
				<td style="text-align: right"><%= a[0] %>:</td>
				<td><%= f.text_field a[0] %></td>
			</tr>
		<% end %>
	<% end %>
  </table>

  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @user %> |
<%= link_to 'Back', users_path %>