<table>
  <tr>
  	<th>eMail</th>
  	<th>Notiz</th>
  	<th colspan="3" style="text-align: center">Aktion</th>
  </tr>

<% @users.each do |user| %>
  <tr>
  	<td><%= user.email %></td>
  	<td><%= user.note %></td>
    <td><%= link_to 'Show', user %></td>
    <td><%= link_to 'Edit', edit_user_path(user) %></td>
    <td><%= link_to 'Destroy', user, :confirm => 'Wirklich Löschen?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New user', new_user_path %>